.btn {
  @include padding-y(0.9375rem);
  @include hor-padding(2.5rem);
  @include bg-color('primary');
  @include color('seventh');
  border: 0rem;


  &:hover {

    cursor: pointer;
    @include b-color('primary');
    @include color('primary');
    background: none;
    @include transition('background', 0.5s);
  }

}