.section-five .panel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &:not(:first-child) {

    margin-top: 2rem;
  }


  @include breakpoint-up('md') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

}

.section-five .panel-btn {
 
  @include breakpoint-down('md') {
    margin-top: 1rem;
  }

}