// Globals //

html {
  scroll-behavior: smooth;
}

body {
  @include font-family('second');
  @include color('third');
  font-size: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 125rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  width: 100%;
  @include padding-x('sm');
  
  
  @include breakpoint-up('md') {
    @include padding-x('md');
  }
  
  @include breakpoint-up('lg') {
    @include padding-x('lg');
  }
    
}


// Border // 

.b-radius {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}


// Fonts // 

// text 
p {
  @include font-size('sm', $par-sizes);
  @include line-height('sm', $par-lh-sizes);


  @include breakpoint-up('md') {
    @include font-size('md', $par-sizes);
    @include line-height('md', $par-lh-sizes);
  }

}

h1, h2, h3, h4 {
  @include font-family('primary');
}

h2, h3, h4 {
  @include color('second');
}

h1 {
  @include font-size('md', $heading-sizes);


  @include breakpoint-up('md') {
    @include font-size('xlg', $heading-sizes);
  }

}

h2 {
  @include font-size('md', $heading-sizes);


  @include breakpoint-up('md') {
    @include font-size('lg', $heading-sizes);
  }

}

h3 {
  @include font-size('sm', $heading-sizes);
}

h4 {
  @include font-size('xsm', $heading-sizes);
}



// Images //

.img-responsive {

  .sm-img {
  
  
    @include breakpoint-up('md') {
      display: none;
    }

  }

  .md-img {
    display: none;


    @include breakpoint-up('md') {
      display: inline-block;
    }

    @include breakpoint-up('lg') {
      display: none;
    }

  }

  .lg-img {
    display: none;


    @include breakpoint-up('lg') {
      display: inline-block;
    }

  }
  
}

.img-fluid {
  width: 100%;
  height: auto;
}

.slide-out-left {
  visibility: hidden;
  margin-left: 100%;
}

.slide-in {
  margin-left: 0rem;
  transition: margin-left 0.3s ease-in-out;
}


// Colors //

/// bg
.bg-color-eight {
  @include bg-color('eight');
}

.bg-color-seventh {
  @include bg-color('seventh');
}

.bg-color-third {
  @include bg-color('third');
}

/// Font
.color-third {
  @include color('third');
}

// Spaces //

.margin-y {
  @include vertical-margin('sm');


  @include breakpoint-up('md') {
    @include vertical-margin('md');
  }

  @include breakpoint-up('lg') {
    @include vertical-margin('lg');
  }

}


// Transform //

// Rotate
.arrow-up {
  transform: rotate(180deg);
  transition: transform .7s ease-in-out;
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform .7s ease-in-out;
}

// Visibility //

.hidden {
  display: none;
}

.show {
  display: block;
}

.slide-right {
  margin-left: 0rem;
  @include transition('margin-left', 1s);
}

.slide-left {
  margin-left: -50rem;
  @include transition('margin-left', 1s);
}

.slide-down {
  height: 10rem;
  @include transition('height', 10s);
}

.fixed {
  position: fixed;
  height: 0rem;
}





